.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #3E5879;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
}

.mat-mdc-card {
    max-width: 400px;
}

.mat-mdc-card-header {
    padding-bottom: 25px;
}

.submit-button {
    max-width: 150px;
    margin: 20px auto 0;
}