<div>
    <h1 mat-dialog-title>Crear usuario</h1>
    <div mat-dialog-content  class="studentForm">
      <form [formGroup]="userForm">
        <div class="grid">
          <div class="col-6">
            <mat-form-field class="w-full" appearance="fill">
              <mat-label>Nombre</mat-label>
              <input formControlName="name" matInput />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-full">
              <mat-label>Email</mat-label>
              <input formControlName="email" matInput />
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-full">
              <mat-label>Rol</mat-label>
              <mat-select formControlName="role">
                <mat-option [value]="role" *ngFor="let role of roles">
                  {{ role }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
          <div class="col-6">
            <mat-form-field class="w-full">
              <mat-label>Contraseña</mat-label>
              <input formControlName="password" matInput />
            </mat-form-field>
          </div>
        </div>
      </form>
    </div>
    
    <div mat-dialog-actions>
      <button mat-dialog-close mat-button>Cancelar</button>
      <button (click)="onSubmit()" mat-button>Guardar</button>
    </div>
</div>
