.toolbar-container {
    display: flex;
    justify-content: space-between;
    background-color: #3E5879;
    color: white;
}

.example-icon {
    color: white;
}

.app-menu {
    display: flex;
    align-items: center;
}